.container{
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: repeat(4. 300px);
}

.item{
  background: grey;
  border: solid 5px;
  border-radius: 10px;
  grid-row: span 5;
}

#main{
  grid-column: 1/3;
  grid-row: 1/5;
}
