.container{
  max-width: 1200px;
  display: grid;
  font-family: Arial;
  gap: 1em;
}

.items{
  background: lightgrey;
  padding: 15px;
  gap: 1em;
}

#board{
  font-size: 32px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
}

#board span{
  transform: rotate(90deg);
  white-space: nowrap;
  margin: 20px;
  color: black;
}

#board span:hover{
  color: purple;
}

#do{
  background: grey;
  border-radius: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

#Welcome{
  background: pink;
  border-radius: 8px;
  padding: 20px;
  grid-column: 1/3;
  grid-row: 1/2;
}

h2{
  color: red;
}

#yet{
  background: purple;
  gap: 1em;
  grid-column: 1/2;
  border-radius: 8px;
  padding: 20px;
  grid-row: 2/3;
}

#project{
  background: gold;
  gap: 1em;
  grid-column: 2/3;
  border-radius: 8px;
  padding: 20px;
  grid-row: 2/3;
}

#about{
  border-radius: 20px;
  align-items: space-between;
  justify-content: auto;
}

#about p{
  transform: rotate(90deg);
  white-space: nowrap;
  font-size: 24px;
}

@media (min-width: 600px){
  .container{
    grid-template-columns: repeat(3, 1fr);
  }
}
